* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sobre_grupo {
    width: 90%;
    max-width: 700px; 
    height: auto;      
    margin: 200px auto;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

img{
    border-radius: 10px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* apenas horizontal */
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin-left: 10px;
}

#esquerda {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemLista{
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}


.return {
    text-align: center;
    padding: 20vh 2rem; /* 20% da altura da tela */
}

p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    margin-left: 10px;
    margin-bottom: 12px;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E62727;
    padding: 1rem 0;
    z-index: 10;
}

.sessao{
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 5px;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

h1 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

h1 a:hover{
    color: #CBDCEB;
}

hr{
    margin-top: 12px;
    margin-bottom: 12px;
}

p a:hover {
    color: #00bfff;
}

nav a:hover {
    background-color: #FF3F33;
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/imgs/DNA.gif") center center / cover no-repeat;
    z-index: -2;
}

.background-gif-bio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/imgs/DNA_GENES.gif") center center / cover no-repeat;
    z-index: -2;
}

.background-gif-grupo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/imgs/leocócitos.gif") center center / cover no-repeat;
    z-index: -2;
}

.background-gif-materiais {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/imgs/transporte.gif") center center / cover no-repeat;
    z-index: -2;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 4rem; 
}

video {
    max-width: 80%;
    max-height: 70vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}


@media (max-width: 768px) {
    nav ul {
        gap: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    video {
        max-width: 90%;
        max-height: 60vh;
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Animação do spinner */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color:  #E62727;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
