* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sobre_grupo {
    width: 700px;
    height: 500px;
    margin: 150px auto; 
    padding: 80px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    margin-left: 10px;
}

#esquerda {
    text-align: left;
}

.return {
    text-align: center;
    padding: 250px;
  }

p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    margin-left: 10px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem 0;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

h1 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

h1 a:hover{
    color: #00bfff;
}


p a:hover {
    color: #00bfff;
}

nav a:hover {
    color: #00bfff;
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("dog.gif") center center / cover no-repeat;
    z-index: -2;
}

.background-gif-bio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("science_dog.gif") center center / cover no-repeat;
    z-index: -2;
}

.background-gif-grupo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("fish_dog.gif") center center / cover no-repeat;
    z-index: -2;
}

.background-gif-materiais {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("scared_dog.gif") center center / cover no-repeat;
    z-index: -2;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 4rem; 
}

video {
    max-width: 80%;
    max-height: 70vh;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}


@media (max-width: 768px) {
    nav ul {
        gap: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    video {
        max-width: 90%;
        max-height: 60vh;
    }
}
