<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phagosquad</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/imgs/icone.png" type="image/x-icon">
</head>
<body>
    <!-- NAV -->
    <nav>
        <ul>
            <li><a href="#" class="sessao">Inicial</a></li>
            <li><a href="#" class="sessao">Biomaket</a></li>
            <li><a href="#" class="sessao">Materiais</a></li>
            <li><a href="#" class="sessao">Sobre</a></li>
        </ul>
    </nav>

    <div id="conteudoPagina"></div>
    <script src="/static/js/roteamento.js"></script>
</body>
</html>
