<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sobre o Grupo</title>
</head>
<body>
    <h1>Conheça a <strong>Phagosquad</strong></h1>
    <p>
        A <strong>Phagosquad</strong> é o grupo que apresentará o trabalho sobre a relação entre
        Leucócitos, Endocitose e Diapedese. Somos do Info 3V do campus Parnamirim e ficamos com a responsabilidade
        de produzir uma <a href="/biomaket">Bio-maket</a> e este lindíssimo site.
    </p>
</body>
</html>